<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scaler Covid Tracker</title>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>
    <div class="jumbotron">
        <h1>Scaler Covid Tracker</h1>
        <p>
          <%= name %>
        </p>
        <p>
          TODO: Left as an exercise. Show the following here:
        </p>
        <br />
        State wise tally
        <br />
        Total Number of cases
        <br />
        Mortality Rate (recovered vs death)
        <br />
        <br />

        <h3>Other Features: </h3>
        <p>Add a property to reports called status, which can take (reported, recovered, dead)</p>
        <p>Add a form to update a report</p>
        <p>Add a view to show a single report</p>
        
        <br />
        <h3>Optimization</h3>
        <p>City search is using a linear search approach. Can you try to improve it?</p>
        
        <h3>Nice to haves</h3>
        <p>Add a login form</p>
        <p>use another json file to store login credentials (you can store credentials in plain text for now. No need to worry about sessions/ cookies)</p>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>