<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View a report</title>
  <%- include('../partials/head.ejs') %>

</head>
<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <main>
    <h1>Left as an exercise</h1>
  </main>
  
</body>
</html>